{% extends 'base.html.twig' %}

{% block title %}Guide index{% endblock %}

{% block body %}
    <h1>Guide index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Note_moyenne</th>
                <th>Biographie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guide in guides %}
            <tr>
                <td>{{ guide.id }}</td>
                <td>{{ guide.noteMoyenne }}</td>
                <td>{{ guide.biographie }}</td>
                <td>
                    <a href="{{ path('app_guide_show', {'id': guide.id}) }}">show</a>
                    <a href="{{ path('app_guide_edit', {'id': guide.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_guide_new') }}">Create new</a>
{% endblock %}
