{% extends 'base.html.twig' %}

{% block title %}Tour index{% endblock %}

{% block body %}
    <h1>Tour index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Ville</th>
                <th>Prix</th>
                <th>Date_dispo</th>
                <th>Note_moyenne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tour in tours %}
            <tr>
                <td>{{ tour.id }}</td>
                <td>{{ tour.titre }}</td>
                <td>{{ tour.description }}</td>
                <td>{{ tour.ville }}</td>
                <td>{{ tour.prix }}</td>
                <td>{{ tour.dateDispo ? tour.dateDispo|date('Y-m-d') : '' }}</td>
                <td>{{ tour.noteMoyenne }}</td>
                <td>
                    <a href="{{ path('app_tour_show', {'id': tour.id}) }}">show</a>
                    <a href="{{ path('app_tour_edit', {'id': tour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tour_new') }}">Create new</a>
{% endblock %}
